.careers-section {
  text-align: center;
  color: black;
  width: 100%;
  height: 149vh;
  // top: 0;
  // position: absolute;
  margin-top: -80px;
  background-image: url('aurora-white.png');
  background-size: cover;
}

.careers-title {
  display: flex;
  padding-top: 12.5%;
  padding-bottom: 20px;

  h3 {
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 6.5px;
    padding-left: 82px;
  }

  width: 60%;
  margin: auto;

  img {
    width: 50px;
  }
}


.careers-desc {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: end;

  h5 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 23px;
    // margin-bottom: 65px;
    padding-right: 37px;
  }


  img {
    height: 50px;
    margin-top: -18px;
  }

  // margin-bottom: 60px;
}

.careers-tag {
  width: 70%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 100px;
  p {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
  }
}

.career-benefits {
  padding-bottom: 70px;
  margin: auto;
  width: 70%;
  text-align: center;
  h3 {
    font-family: "Manrope";
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    padding-bottom: 60px;
  }
}

.benefits {
  width: 100%;
  text-align: center;
  img {
    width: 80px;
    padding-bottom: 8px;
  }

  h5 {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 23px;
  }

  .benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.career-cta {
  width: 60%;
  margin: auto;
  text-align: center;
  padding-bottom: 120px;
  h3 {
      font-family: "Manrope";
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 2px;
      padding-bottom: 10px;
    }

    p {
      text-align: center;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
    }
}

#moonhub-email {
  color: #5E64E9;
  font-weight: 600;
}
