.io-landing-section {
  text-align: center;
  color: white;
  background-color: $bg-dark;
  width: 100%;
  height: 139vh;
  // top: 0;
  // position: absolute;
  margin-top: -120px;
  background-image: url('io-bg.png');
  background-size: cover;
}

.io-info {
  // font-family: "Manrope";
  padding-top: 30px;
  width: 62%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2.3px;
  line-height: 26px;

  p {
    margin-bottom: 40px;
  }
}

#io-title {
  padding-top: 13.5%;
  font-weight: 600;
  font-size: 62px;
  letter-spacing: 12px;
}

.io-stats {
  padding-top: 15px;
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.io-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  width: 450px;

  .percent {
    font-weight: 600;
    font-size: 32px;
    color: #D0D2FF;
  }

  h3 {
    text-align: center;
    font-weight: 600;
    font-size: 62px;
    letter-spacing: 1.5px;
    color: #D0D2FF;
    margin-bottom: 5px;
  }

  p {
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 1px;
  }
}

#io-scroll {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  padding-top: 100px;
  margin-bottom: 8px;
}

.io-modules {
  width: 100%;
  margin: auto;
  text-align: center;

  h3 {
    padding-top: 60px;
    padding-bottom: 50px;
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 5px;
  }
}

.io-module {
  width: 77%;
  margin: auto;
  margin-bottom: 100px;
}

.module-heading {
  margin: auto;
  text-align: center;

  h4 {
      padding-bottom: 10px;
      font-size: 32px;
      font-weight: 600;
      letter-spacing: 4px;
  }

  h6 {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
  }

  p {
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 1px;
  }
}

.module-info {
  display: flex;
  justify-content: space-between;

  .module-pros {
    width: 300px;
    text-align: left;
    h5 {
        padding-bottom: 10px;
        font-weight: 600;
        letter-spacing: 3px;
        font-size: 24px;
        line-height: 33px;
        width: 370px;
    }

    img {
      width: 300px;
      padding-bottom: 20px;
    }

    p {
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      line-height: 21px;
    }


  }
}

.wellbeing-extra {
  margin: auto;
  width: 1000px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;

  p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 21px;
    padding-bottom: 10px;
  }

  img {
    width: 100px;
    padding-bottom: 30px;
  }

  h6 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
  }
}

.module-cta {
   margin: auto;
   width: 500px;
   text-align: center;
   margin-top: 50px;

   p {
     font-weight: 600;
     font-size: 16px;
     margin-bottom: 40px;
   }
 }

 .wts-section {
    margin: auto;
    width: 900px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 110px;

    img {
        width: 100px;
        padding-bottom: 20px;
      }

      p {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 2px;
      }

 }
