.press-section {
  text-align: center;
  color: black;
  width: 100%;
  height: 149vh;
  // top: 0;
  // position: absolute;
  margin-top: -80px;
  background-image: url('aurora-white.png');
  background-size: cover;
}

.press-title {
  display: flex;
  padding-top: 12.5%;
  padding-bottom: 10px;

  h3 {
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 6.5px;
    padding-left: 100px;
  }

  width: 60%;
  margin: auto;

  img {
    width: 50px;
  }
}


.press-desc {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: end;

  p {
      text-align: center;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 2px;
      line-height: 23px;
      margin-bottom: 65px;
      padding-right: 56px;
    }


    img {
      height: 50px;
    }

  margin-bottom: 60px;

}

.cards-container {
  width: 85%;
  margin: auto;
  margin-bottom: 30px;

  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    .press-blog {
      box-shadow: 0 0 15px #5e65e9;
    }
  }
}

.press-blog {
  width: 100%;
  height: 330px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding-left: 0px !important;
  padding-right: 0px!important;
  border-radius: 3%;
}

.press-blog>img {
  height: 55%;
  width: 100%;
  object-fit: cover;
}

.press-blog h2 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin: 0;
  padding-bottom: 10px;
}

.press-blog p {
  color: #697797;
  font-size: 14px;
  // padding-bottom: 20px
}



.press-blog-infos {
  text-align: left;
  padding: 18px;
}

.load-more {
  padding-top: 30px;
  padding-bottom: 100px;
  button {
        background-color: #fff;
        border: 1px solid #697797;
        box-shadow: none;
        color: black;
        padding: 11px 35px;
        font-size: 16px;
        font-weight: 500;
        font-family: "Manrope";
        letter-spacing: 2px;
        border-radius: 3px;
  }
}
