<div class="io-landing-section">
  <h3 id="io-title">IO</h3>

  <div class="io-info">
    <p>Our suite of ever-expanding, industry-standard learning content. Consistently <br> updated with new training content from leading partners in their field.</p>
    <p>Expertly curated for all teams.</p>
    <p>Our essentials suite provides industry-standard best practices, certified by CPD.</p>
    <p>IO is a masterclass in navigating through daily workplace scenarios from Diversity and Inclusion to Health and Safety and Well-being.</p>
  </div>

  <div class="io-stats">
    <div class="io-stat">
      <h3>40<span class="percent">%</span></h3>
      <p>of VR learners saw an improvement in <br> confidence compared to those in the <br> classroom.</p>
    </div>
    <div class="io-stat">
      <h3>75<span class="percent">%</span></h3>
      <p>said that during the VR course they had a ‘wake-up-call’ moment and realised that they were not as inclusive as they thought they were.</p>
    </div>
     <div class="io-stat">
      <h3>400<span class="percent">%</span></h3>
      <p>VR learners are 4x more focused <br> than their e-learning peers.</p>
    </div>
  </div>
  <div class="scroll-cta">
      <p id="io-scroll">Explore IO's training offering</p>
      <%= image_tag 'scroll-down', class: "scroll-icon" %>
    </div>
  </div>

<div class="page-dividers">
  <%= image_tag 'gradient-left' %>
  <%= image_tag 'gradient-right' %>
</div>

<div class="io-modules">
  <h3>IO TRAINING MODULES</h3>
  <div class="io-module">
    <div class="module-heading">
      <h4>DIVERSITY & INCLUSION</h4>
      <h6>An eye-opening experience</h6>
      <p>Our D&I VR training is here to assist your organisation in ensuring you get the best out of your people.</p>
    </div>
    <div class="module-info">
      <div class="module-pros">
      </div>
      <div class="module-pros">
      </div>
      <div class="module-pros">
      </div>
    </div>
    <div class="module-cta"></div>
  </div>
  <div class="io-module">
    <div class="module-heading">
    </div>
    <div class="module-info">
      <div class="module-pros">
      </div>
      <div class="module-pros">
      </div>
      <div class="module-pros">
      </div>
    </div>
    <div class="module-cta"></div>
  </div>
  <div class="io-module">
    <div class="module-heading">
    </div>
    <div class="module-info">
      <div class="module-pros">
      </div>
      <div class="module-pros">
      </div>
      <div class="module-pros">
      </div>
    </div>
    <div class="module-cta"></div>
  </div>
  <div class="io-module">
    <div class="module-heading">
    </div>
    <div class="module-info">
      <div class="module-pros">
      </div>
      <div class="module-pros">
      </div>
      <div class="module-pros">
      </div>
    </div>
    <div class="module-cta"></div>
  </div>
  <div class="io-module">
    <div class="module-heading">
    </div>
    <div class="module-info">
      <div class="module-pros">
      </div>
      <div class="module-pros">
      </div>
      <div class="module-pros">
      </div>
    </div>
    <div class="module-cta"></div>
  </div>
  <div class="io-module">
    <div class="module-heading">
    </div>
    <div class="module-info">
      <div class="module-pros">
      </div>
      <div class="module-pros">
      </div>
      <div class="module-pros">
      </div>
    </div>
    <div class="module-cta"></div>
  </div>
  <div class="io-module">
    <div class="module-heading">
    </div>
    <div class="module-info">
      <div class="module-pros">
      </div>
      <div class="module-pros">
      </div>
      <div class="module-pros">
      </div>
    </div>
    <div class="module-cta"></div>
  </div>
</div>
