<div class="footer">
  <div class="f-container">
    <div class="f-logo">
      <%= image_tag "MH-logotype-light" %>
      <p> &copy All right reserved The MOONHUB 2023</p>
    </div>
    <div class="link-list">
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Careers</li>
        <li>Press</li>
      </ul>
      <ul>
        <li>Training</li>
        <li>IO</li>
        <li>Elara</li>
        <li>Studios</li>
      </ul>
      <ul>
        <li>Resources</li>
        <li>Shop</li>
        <li>Customer Support</li>
        <li>Contact</li>
      </ul>
    </div>
    <div class="f-icons">
      <i class="fa-brands fa-twitter" style="color: #2A2730;"></i>
      <i class="fa-brands fa-square-instagram" style="color: #2A2730;"></i>
      <i class="fa-brands fa-linkedin" style="color: #2A2730;"></i>
    </div>
  </div>
</div>
