<div class="landing-title">
  <h6>THE TWO SIDES TO MOONHUB</h6>

  <div class="landing-info">
    <div class="library">
      <%= image_tag 'Moondarkside' %>
      <h6> LIBRARY </h6>
      <p> Developed by leading L&D professionals. <br>
        The MOONHUB Library is our industry-standard, readily available VR training solutions.<br>
        Accredited by CPD.</p>
    </div>

    <div class="studios">
    <%= image_tag 'Moonlightside' %>
    <h6> STUDIOS </h6>
    <p>Co-curated with you, for you. <br>
      MOONHUB Studios is your on-demand production house which translates your learning objectives into a bespoke VR training experience. <br>
      The power of MOONHUB, your way.</p>
    </div>
  </div>
</div>

<div class="products">
</div>
