.navbar{
  width: 83%;
  padding-top: 45px;
  margin: auto;
  background: rgba(24, 22, 32, 0.0);
  z-index: 5;
  height: 15vh;
  // top: 0;
  // position: fixed;
  justify-content: space-around;

  img {
    width: 30px;
    // height: 15px;
    margin-right: 18px;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 600;
  }

  .dark {
    color: black ;
  }

  a:hover {
    color: #9A9EF6;
    text-decoration: none;
    transition: 0.1;
  }

  .active {
    color: #9A9EF6 !important;
  }
}

.shop {
  background-color: #D0D2FF;
  color: #2A2730 !important;
  padding: 9px 35px;
  text-decoration: none;
  font-family: "Manrope";
  letter-spacing: 1px;
  border-radius: 4px;
  margin-right: 25px;

}

#blog-title {
  padding-top: 3px !important;
}

.log-in {
    background-color: #5E64E9;
    color: white;
    padding: 9px 32px;
    text-decoration: none;
    font-family: "Manrope";
    letter-spacing: 1px;
    border-radius: 4px;
}


.the-dropdown {
  // display: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  padding-top: 15px;
  padding-bottom: 15px;
  width: 297px;
  font-size: 10px;
  /* text-decoration: none; */
  // position: absolute;
  // display: flex;
  // align-items: start;
  // left: 455px;
  // top: 90px;
  border-radius: 4px;
  flex-direction: column;

  a {
    text-decoration: none;
    div {
      width: 297px;
      padding-left: 35px;
      padding-right: 10px;
      padding-top: 3px;
      padding-bottom: 3px;
    }
    h3 {
        text-decoration: none;
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: 600;
        margin-bottom: none !important;
        padding-top: 9px;
        padding-bottom: 3px;
      }
  }
}

.d-light {
  background: white;

  h3 {
    color: black;
  }

  a:hover {
    div {
      background: linear-gradient(90deg, #DDE4FF 0%, #F5F4FF 100%);
    }
  }
}

.d-dark {

  background: #15141E;

    h3 {
      color: white;
    }

    a:hover {
      div {
        background: linear-gradient(90deg, #291B7E 0%, #260E45 100%);;
      }
    }
}



.dropdown-menu {
  background-color: transparent !important;
  display: none;
  border: none;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-left: -25px;
    .spacer {
        height: 0.5rem;
        background: transparent !important;
      }
}

.ah:hover .about-trigger {
  display: block;
}

.t-dd:hover .training-trigger {
  display: block;
}
