<div class="contact-section">
  <div class="contact-container">
        <div class="row justify-content-between">
          <div class="col-5">
            <h3>BOOK A MEETING WITH OUR SALES TEAM</h3>
            <p>Unravel new training possibilities. <br> Set up a meeting with our Sales team.</p>
          </div>
          <div class="col-5">
            <%= image_tag "calendly" %>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-5">
            <h3>...OR, LEAVE A MESSAGE WITH YOUR <br> QUERY, AND WE WILL BE IN TOUCH</h3>
            <p>Unravel new training possibilities. <br> Set up a meeting with our Sales team.</p>
          </div>
          <div class="col-5">
            <form action="">
              <div class="form-group mb-4">
                <label for="fullname">Full name</label>
                <input class="form-control"type="text" name="fullname">
              </div>
              <div class="form-group mb-4">
                <label for="email">Email address</label>
                <input class="form-control"type="email" name="email">
              </div>
              <div class="form-group mb-4">
                <label for="company">Company name (optional)</label>
                <input class="form-control"type="text" name="company">
              </div>
              <div class="form-group mb-4">
                <label for="message">Add your message</label>
                <textarea class="form-control" name="message" id="" cols="30" rows="10">
                </textarea>
              </div>
              <input type="submit" class="log-in" id="submit">
            </form>
          </div>
        </div>
  </div>
</div>
